@import url('https://fonts.googleapis.com/css2?family=Kadwa&family=Koulen&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    border-right: rgba(137, 137, 137, 0.50) solid;
    border-left: rgba(137, 137, 137, 0.50) solid;
    margin-left: 2rem;

    margin-right: 2rem;
    min-height: 100%;
    z-index: -1;
}

.bottomline {
    
    z-index: 100;
    height: 100%;
}



/* component/nav */
.navcontainer {
    font-family: Kadwa, "Helvetica Neue", Helvetica, Arial;
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    min-width: 100%;
    border-bottom: rgba(137, 137, 137, 0.50) solid;
    padding-bottom: 1rem;
}

.nav {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.nav:first-child {
    justify-self: start;
    margin-left: 2rem
}

.nav:last-child {
    justify-self: end;
    margin-right: 2rem
}

.nav1 {
    border-bottom: black solid;
    z-index: 5;
    margin-top: 5px;
}

/* component/title */

.titlecontainer {
    display: flex;
    align-items: center;
    padding: 0rem;
    margin: 0;
    border-bottom: rgba(137, 137, 137, 0.50) solid;
}

.titlecontainer:first-child {
    justify-self: start;
}

.title {
    font-family: Koulen, "Courier New", monospace;
    font-size: 4rem;
    padding-left: 2rem;
    align-items: center;
}

.title:first-child {
    justify-self: start;
}

.title:last-child {
    justify-self: end;
}

.titlebutton {
    border-radius: 28px; 
    font-size: inherit;
    font-family: Koulen;
    line-height: 140%;
    color: white;
    background: black;
    padding-left: 5rem;
    padding-right: 5rem;
}

.titlecontainer:last-child {
    justify-self: end;
    margin: 0rem;
    padding: 0;
}

.picside {
    justify-content: center;
    margin-left: 35%;
    padding-left: 5%;
    border-left: rgba(137, 137, 137, 0.50) solid;
}








