body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    border-right: rgba(137, 137, 137, 0.50) solid;
    border-left: rgba(137, 137, 137, 0.50) solid;
    margin-left: 2rem;
    margin-right: 2rem;
    min-height: 100%;
}

.main-content {
    color: black;
}

